body{
	background: url("../images/background.jpg");
	background-size: 80%;
}

#battle{
	width: 500px;
	height: 500px;
}


header{
	color: white;
	text-align: center;
}

img{
	width: 100px;
}

#yours{
	width: 500px;
	height: 500px
}

#enemies{
	width: 500px;
	height: 500px;
}

#chooseChar{
	width: 500px;
	height: 500px;
}